:root {
    /* Colores Primarios */
    --color-primary: #F19A3E;      /* Color principal, usado para botones y elementos destacados */
    --color-secondary: #EB5E28;    /* Color secundario, usado para elementos de apoyo y destacados secundarios */

    /* Colores de Acabado */
    --color-accent: #5A0001;       /* Color de acento, usado para elementos que requieren atención especial */

    /* Colores de Fondo */
    --color-background: #402b19;   /* Color de fondo general de la aplicación */
    --color-background-deg: #401D19;   /* Color de fondo general de la aplicación */

    /* Colores de Texto */
    --color-text: #EDD0C6;         /* Color del texto, usado para la mayoría de los textos */
   
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family:"PP Neue Machina Plain Ultrabold", "PP Neue Machina Plain Ultrabold Placeholder", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--color-text);
    scrollbar-width: 0;

  }

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 0px;
  }
  
  /* Para Firefox */
  * {
    scrollbar-width: none;  
  }

  .sections-container{
    background-image: radial-gradient(circle at center, var(--color-background-deg) 50%, var(--color-background));
    padding-block: 10vh;
    
}
  
.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }  