.useCryptoContanier{
    height: 95vh;
    width: 100vw;
    /* background-image: radial-gradient(circle at center, var(--color-background-deg) 50%, var(--color-background)); */
    padding-inline: 5vw;
    padding-top: 3vh;
    padding-bottom: 2vh;
    @media screen and (max-width: 1200px) {
        padding-top: 3vh;
        height: min-content;
        
    }
    @media screen and (min-height: 800px) and (min-width: 1200px) {
        height: min-content;
            }

}

.useCryptoBlock{
    background: #e3a99537;
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter: blur(10px);  
    height: 100%;
    border-radius: 30px;
    padding: 3vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media screen and (max-width: 1200px) {
        flex-direction: column;
        padding-top: 5vh;
    }

}

.useCryptoText{
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    @media screen and (max-width: 1200px) {
        align-items: center;
        
    }

}

.useCryptoUpperText {
    font-size: 1.2vw;
    text-transform: uppercase;
    font-weight: 700;
    @media screen and (max-width: 1200px) {
        font-size: 3.5vw;
        
    }

}

.useCryptoText h5 {
    font-size: 2.5vw;
    padding-bottom: 20px;
    color: var(--color-primary);
    font-weight: 900;
    @media screen and (max-width: 1200px) {
        font-size: 7vw;
        text-align: center;

    }

}

.useCryptoText p {
    font-size: large;
    padding-bottom: 3vh;
    line-height: 1.2;
    @media screen and (min-width: 1400px) {
        font-size: x-large;
 
    }

    @media screen and (max-width: 1200px) {
        font-size: medium;
        
    }

}

.useCryptoMedia{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;

    
    @media screen and (max-width: 1200px) {

        height: 300px;
        width: auto;
        margin-block: 2vh;
        }

}

.useCryptoMedia img{
    width: 100%;
    @media screen and (min-height: 800px) and (min-width: 1200px) {
        max-height: 250px;
        width: auto;
        transform: scale(1.5);
                }

}


  